* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343f4f;
}

h2 {
  color: #fff;
  padding: 10px 0;
  font-size: 40px;
}

.wrapper {
  display: flex;
  max-width: 650px;
  width: 100%;
  height: 400px;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  /* align-items: center; */
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  cursor: pointer;
  z-index: 100;
}

i.button:active {
  transform: scale(0.94) translateY(-50%);
}

i#prev {
  left: 25px;
}

i#next {
  right: 25px;
}

.image-container {
  height: 360px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}

.image-container .carousel {
  display: flex;
  height: 100%;
  width: 95%;
  align-items: center;
  transition: all 0.4s ease;
}

.carousel img {
  border-radius: 18px;
  height: 100%;
  width: 100%;
  border: 10px solid #fff;
  object-fit: cover;
}

@media (max-width: 770px){
  .wrapper {
    width: 90vw;
  }

  .image-container .carousel {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel img {
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
  
}